.award {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-award {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
