.header-guest {
    // position: fixed;
    // top: 10px;
    // left: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin: 10px;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 22%);
    padding: 14px;
}

.btn-contained {
    border: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding-left: 1px;
    &:hover {
        cursor: pointer;
        border-radius: 10px;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.btn-outlined {
    border: none;
    background-color: transparent;
    color: rgb(7, 69, 239);
    font-size: 17px;
    padding-left: 1px;
    &:hover {
        cursor: pointer;
        border-radius: 10px;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
}
