.account-view {
    background-color: var(--bgc-account);
    width: 25%;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.avatar {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
}
.info-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.change-avatar {
    position: absolute;
    bottom: -5px;
    right: 70px;
    &:hover {
        cursor: pointer;
        background-color: #eaeaea;
    }
}
