.container {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    div {
        margin: 5px 0;
    }
}
.header-paper-resident {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    border-bottom: 1px solid #e0e0e0;
}
.resident-paper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.line-form {
    width: 100%;
    padding: 1px;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // align-items: flex-start;
    // margin-left: 20px;
}
.line-start {
    width: 100%;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px;
    padding-left: 20px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
    padding-left: 5px;
}
.err-mes {
    font-size: 15px;
    color: red;
    padding-left: 5px;
}
.resident-paper {
    margin: 13px;
    //     display: flex;
    //     gap: 10px;
}
.title-resident {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}
.resident-detail {
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    padding-left: 100px;
}
