.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.line-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.line-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 38px;
}
.root {
    & .MuiOutlinedInput-input {
        border: 0;
        border-radius: 3px;
        color: red;
        font-size: 24px;
    }
}
