// @import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    --background-color-default: #eff1f4;
    //default layout
    --default-layout-header: 60px;
    --default-layout-width: 1150px;
    --black: #000;
    --text-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    // font-family: BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    //     'Segoe UI Emoji';
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    background-attachment: fixed;
    overflow-y: visible;
    background-color: #eff1f4;
}
// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 7px;
// }
// ::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(0, 0, 0, 0.5);
//     -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
// }
button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none; //bo gach chan
}
#root {
    height: 100%;
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}
