.header-paper-population {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between;
    padding: 5px;
}
.household-paper {
    margin: 13px;
    //     display: flex;
    //     gap: 10px;
}
.title-household {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}
.household-detail {
    margin: 6px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 10px;
}
.change-and-save {
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: stretch;
}
