header {
    // position: fixed;
    // top: 10px;
    // left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 22%);
    padding: 14px;
}

.header-1 {
    width: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.header-1-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

    .nav-item {
        margin: 0 auto;
    }
}
.search {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --focus-color: rgba(22, 24, 35, 0.2);
    --search-button-width: 52px;

    width: 361px;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    padding: 0 0 0 16px;
    align-items: center;
    flex-direction: row;
    display: flex;
    overflow: hidden;
    position: relative;
    border: 1.5px solid transparent;
    input {
        flex: 1;
        font-size: 16px;
        border: none;
        height: 100%;
        background-color: transparent; //trong suot
        color: var(--black);
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    .search-btn {
        width: var(--search-button-width);
        height: 100%;
        border: none;
        font-size: 1.8rem;
        // color: rgba(22, 24, 35, 0.34);
        background-color: transparent;
        &:hover {
            background-color: #eaeaeb;
            cursor: pointer;
        }
        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-space);
        height: calc(var(--search-height) - 2 * var(--search-top-space));
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
        right: var(--search-button-width);
    }
    &:focus-within {
        border-color: var(--focus-color);
    }
}
.search-result {
    width: 361px;
}
.btn {
    margin: 10px 2px;
    border: none;
    background-color: transparent;
    padding-left: 1px;
    &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
        border-radius: 10px;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.search-title {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}
.clear {
    margin: 4px;
    background-color: #e2e4e8;
    button:hover {
        cursor: pointer;
    }
}
.actions {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 20px;
}

.icon {
    --size-icon-act: 40px;
    width: var(--size-icon-act);
    height: var(--size-icon-act);
    cursor: pointer;
    &:hover {
        background-color: #f2f2f2;
        border-radius: 50%;
    }
}

.btn-avatar-expand {
    --size-icon: 30px;
    display: flex;
    flex-direction: row;
    width: 250px;
    padding: 10px 0;
}

.icon-avatar-btn {
    background-color: #c9cbd1;
    color: #57585c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-icon);
    height: var(--size-icon);
    gap: 5px;
    margin-right: 5px;
    margin-left: 10px;
}
.avatar-text-btn {
    text-decoration: none;
    display: block;
    // text-align: center;
    // justify-content: center;
    word-break: break-word;
    text-align: left;
    word-spacing: 0;
    padding-top: 3px;
    margin-left: 10px;
}

.tippy {
    margin-right: 20px;
}
