.container-require {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
}

.line-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}
