.login {
    width: 400px;
    padding: 10px 10px 20px 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
}
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.login-form__input {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.signup-btn {
    text-decoration: underline;
    color: #2979ff;
    &:hover {
        color: #f50057;
        cursor: pointer;
    }
}

.hr-login {
    margin: 20px 0 20px 0;
}
.btn-text {
    color: blue;
    &:hover {
        color: #f50057;
        cursor: pointer;
    }
}
